/*****************************************
GENERAL
*******************************************/
body {
    font-family: 'Open Sans', ' sans-serif'
}
a {
    text-decoration: none ;
}

#wrapper {
max-width: 940px;
margin: 0 auto 0 auto ;
/* margin: 0 auto;
margin-bottom: 0;
margin-right: auto;
margin-left: auto; */
padding: 0 5%;
}

img {
    max-width: 100%;
}

h3 { 
    margin: 0 0 lem 0
}
/**************
Heading 
***************/
header {
    margin: 0 0 30px 0; 
    padding: 5px 0 0 
    width: 100% ;
}
h1 {   
    font-family: 'Changa One', 'San-serif'
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal ;
    line-height: 0.8em ;
}

/*
FOOTER
*/
.social-icons{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/****************
Page : ABOUT
*****************/

.profile-photo {
    max-width: 150px;
    margin: 0 auto 30px ;
    border-radius: 100%;
}
.project-photo{
    max-width: 150px;
    margin: 0 auto 30px;
 border-radius: 100%;
}
#name-diego {
    font-family: 'Pacifico', cursive;
}